
  @import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,300,400,500,600,700,800,900&display=swap');


* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
    scroll-behavior: smooth;

}

:root {
    --bg-color:#1f242d;
    --second-bg-color:#323946;
    --text-color:#fff;
    --main-color:#0ef;
}
html{
    font-size: 62.5%;
    overflow-x: hidden;
}
body{
    background-color: var(--bg-color);
    color: var(--text-color);
}
section{
    min-height: 100vh;
    padding: 10rem 9% 2rem;
}

a {
    text-decoration: none;
}

ul {
    list-style: none;
}

.btn,input{
    outline: none;
    border: none;
}
#active{
    color: var(--main-color);
}
.active{
    color: var(--main-color);
}